*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar .logo{
    color: #58AC6E;
    font-size: 20px;
    padding: 10px;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.navbar .nav-links li{
    font-size: 18px;
    list-style: none;
    margin-right: 40px;
}

.navbar .nav-links li a{
    color: rgb(62, 56, 56);
    text-decoration: none;
}

.nav-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icons i{
    margin-left: 15px;
}

/* Home Page */

/* .carousel {
    margin-left: 15%;
    margin-right: 15%;
} */

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: 50%;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #000000;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/* Home Page End */

/* Category */

.categories{
    text-align: center;
    padding-top: 40px;
}

.categories h1{
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 20px;
}

.categories p{
    font-size: 18px;
}
.category{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 40px;
}

.category img{
    border-radius: 50%;
}

.category p{
    font-size: 18px;
    font-weight: 900;
}

.category button{
    padding: 6px 12px;
    font-size: 18px;
    font-weight:lighter;
    color: white;
    background-color: #58AC6E;
    border: none;
    border-radius: 3px;
}

@media only screen and (min-width:200px) and (max-width:767px) {

    .category{
        display: flex;
        flex-direction: column;
    }

}
/* Category End*/

/* Features */
.feature{
    background-color: #E9EEF4;
    text-align: center;
    padding-top: 40px;
    margin-top: 40px;
}

.feature h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

.feature p{
    color: #413a3a;
    font-size: 18px;
}

.cardContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    margin: auto;
}

.card{
    flex-basis: 23%;
    text-align: center;
    background: white;
}

.s-icon{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.card-text{
    text-align: left;
    margin-bottom: 40px;
    margin-left: 10px;
}

.card-text h2{
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 10px;
}

.card-text p{
    font-size: 18px;
    color:rgb(68, 59, 59);
    margin-bottom: 10px;
}

.card-text h3{
    color: grey;
    font-weight: 100;
}







@media only screen and (min-width:200px) and (max-width:767px) {
    .cardContainer{
        width: 80%;
        flex-direction: column;
    }

    .card {
        margin-top: 40px;
        margin-left: -20px;
    }
}



/* Features End*/

/* footer */
.footer{
    background-color: #222834;
    color: white;
}

.foot-1{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.foot-1 h1 span{
    color: #5AA86A;
}

.foot-1 h1 {
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
}

.foot-1 p{
    padding-bottom: 10px;
    font-size: 18px;
    color: grey;
}

.product li{
    list-style: none;
    padding-bottom: 10px;
    font-size: 18px;
    color: grey;
}

.info li{
    list-style: none;
    padding-bottom: 10px;
    font-size: 18px;
    color: grey;
}

.foot-2{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.foot-2 .social{
    font-size: 30px;
    color: grey;
    margin-left:-100px;
}

.foot-2 .social i{
    margin-left: 30px;
}

.foot-2 .email{
    display: flex;
}
.foot-2 input{
    width: 15rem;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 1px solid #222834;
}

.foot-2 ::placeholder{
    text-align: center;
}

.foot-2 button{
    width: 5rem;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #58AC6E;
}

.foot-3{
    padding-top: 20px;
    color: grey;
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    background-color: #1F232E;
}





@media only screen and (min-width:200px) and (max-width:767px) {

    .foot-1{
        display: flex;
        flex-direction: column;
    }

    .foot-2{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        margin-left:100px;
    }
    
}

/* fooeter End */